@import 'variables.scss';

.login-modal {
  max-width: 20rem;
  max-height: 20rem;
  padding: 0;
  border: 0;
  box-shadow: none;

  &__title {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
  }

  &__field {
    width: 100%;
    margin: 0.5rem 0 0;
  }

  &__button{
    width: 100%;
    margin-top: 15%;
    display: flex;
    justify-content: center;
  }
}

// .mat-card {
//   boder
// }
