@import 'variables.scss';

.courses-modal {
  border: 0.08rem solid;
  border-radius: 0.3rem;
  margin: -0.6rem;
  padding: 0 1rem;

  &-form {
    mat-form-field {
      h3 {
        margin: -0.5rem 0rem;
      }
    }

    &__field {
      display: flex;
      color: $black;

      &--small {
        width: 7rem;
      }
    }

    &__buttons-bar {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      margin: 1rem 0;
    }
  }
}

.mat-input-element:disabled {
  color: $black;
}

::ng-deep .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
  background-image: none !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 100%;
}
