@use '@angular/material' as mat;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-template-primary: mat.define-palette(mat.$red-palette, A700, 800, 700);

$angular-template-accent: mat.define-palette(mat.$red-palette, 300, 400, 500);

$angular-template-success: mat.define-palette(mat.$green-palette, 500, A200, A100);

// The warn palette is optional (defaults to red).
$angular-template-warn: mat.define-palette(mat.$amber-palette, 700, 800);

$angular-template-danger: mat.define-palette(mat.$red-palette, 700, 800);


$primary: map_get($angular-template-primary, 500);
$secondary: map_get($angular-template-primary, A100);
$accent: map_get($angular-template-primary, A200);
$warn: map_get($angular-template-warn, 700);
$danger: map_get($angular-template-danger, 700);;

$black: #121212;
$white: #F5F6FB;
$blurry-white: #f5f5f6;
$gray: #808080;

$green: map_get($angular-template-success, 500);
